<div class="comment">
  <div class="comment__content">
    <div class="comment__name"><strong><%= comment.name %></strong></div>
    <div class="comment__body"><%= comment.body %></div>
    <div class="comment__time"><%= time_ago_in_words(comment.created_at) %> Ago</div>
  </div>
  <% if user_signed_in? %>
    <%= link_to "Delete", [comment.post, comment],
          method: :delete,
          class: "link-light",
          data: {confirm: "Are you sure?"} %>

  <% end %>
</div>
