<div class="row">
  <div class="large-6 columns large-centered text-center">
    <h1 class="text-center">
      We &hearts; The Web
    </h1>
    <h4 class="text-center">
      We're a team of doers passionate about bringing convenient, fast, and easy to use online experiences
      to the almost 1 million Albertans who use AMA every day.
    </h4>
    <br>
    <p class="text-center">
      This blog is run by the Digital Experience team, a collection of developers, designers, and usability enthusiasts, at the Alberta Motor Association.
      We collaborate through Agile and SCRUM to build awesome products and experiences for our members.
    </p>
    <p>We have a bot named Lita Thompson, pug bombs, and often have conversations entirely in memes and emojis.
      If you're late to standup you have to shamefully wear a chicken hat/clown vest.
      We occasionally do cool team building things.
    </p>
  </div>
</div>
