<div class="hanging-quote-left">"</div><h1 class="quotation">The art of great design is in the complexity of its simplicity"</h1>
<p>
  I’m a full-time designer for the Alberta Motor Association residing in Edmonton, AB,
  where for the past five years I’ve primarily been doing user interface and experience design as
  well as front end development through HTML and CSS/SASS. I love educating clients on how design
  transcends colors and fonts by delivering beautiful, informed, and logical experiences and
  interfaces that satisfy both business requirements and users’ needs.
</p>
<p>
  I’m also a dog-loving home cook and wine-enthusiast, who spends far too much time on the internet.
</p>
