<ul class="icons-list">
  <li class="icons-list__item"><%= link_to (image_tag ("twitter-icon.png"), class: "icons-list__icon"), "https://twitter.com/kaytcampbell", target: "_blank" %></li>
  <li class="icons-list__item"><%= link_to (image_tag ("mail-icon.png"), class: "icons-list__icon"), mail_to: "hello@kaytcampbell.ca", target: "_blank" %></li>
  <li class="icons-list__item"><%= link_to (image_tag ("github-icon.png"), class: "icons-list__icon"), "https://github.com/kaytcampbell", target: "_blank" %></li>
  <li class="icons-list__item"><%= link_to (image_tag ("pinterest-icon.png"), class: "icons-list__icon"), "https://www.pinterest.com/kaytcampbell/", target: "_blank" %></li>
</ul>
<section class="page-footer">
  <div class="divider">
  </div>
</section>
