$blue: #0f3c62;
$blue-grey: #9aaec0;
$white: #ffffff;
$base-margin: 0.9375rem;
$base-padding: 0.9375rem;
body{
  background: $white;
}
textarea{
  min-height: 150px;
}
a {
  font-family: "Acumin Pro", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1,
h2,
h3{
  text-transform: uppercase;
}
.top-horz{
  background: #eeeeee;
  background-repeat: repeat-x;
  height: 28px;
  position: fixed;
  width: 100%;
  @include breakpoint(small only) {
    height: 10px;
  }
  @include breakpoint(medium only) {
    height: 20px;
  }
}
.bottom-horz{
  background: #eeeeee;
  background-repeat: repeat-x;
  height: 28px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @include breakpoint(small only) {
    height: 10px;
  }
  @include breakpoint(medium only) {
    height: 20px;
  }
}
.left-vert{
  background: #eeeeee;
  background-repeat: repeat-y;
  width: 28px;
  height: 100%;
  position: fixed;
  top: 0;
  @include breakpoint(small only) {
    width: 10px;
  }
  @include breakpoint(medium only) {
    width: 20px;
  }
}
.right-vert{
  background: #eeeeee;
  background-repeat: repeat-y;
  width: 28px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  @include breakpoint(small only) {
    width: 10px;
  }
  @include breakpoint(medium only) {
    width: 20px;
  }
}
.logo__container{
  text-align: center;
  padding: 30px 0 0 0;
  @include breakpoint(small only){
    padding: $base-margin 0 0 0;
  }
}

.date{
  display: block;
  margin-bottom: $base-margin;
  color: #cccccc;
  font-style: italic;
}
.logo__image{
  width: 366px;
  @include breakpoint(small only){
    width: 260px;
  }
}

.image--large{
  margin-bottom: $base-margin;
}

.divider{
  background: #eeeeee;
  height: 8px;
  width: 100%;
  margin: $base-margin*3 auto $base-padding*3 auto;
}
.link-light{
  color: $blue-grey;
  text-decoration: underline;
}
.button{
  border: 5px solid #eeeeee;
}
.page-header{
  padding-top: 50px;
}

.title a{
  font-family: "Acumin", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
}
.icons-list{
  list-style-type: none;
  text-align: center;
  margin: 80px 0 80px 0;

  &__icon{
    max-width: 100px;
  }

  &__item{
    display: inline-block;
    @include breakpoint(small only) {
      width: 50%;
      margin: 0;
    }
    &:not(:last-child){
      margin-right: 40px;
      @include breakpoint(small only) {
        margin: 0;
      }
    }
  }
}
.hanging-quote-left{
  @extend h1;
  display: inline;
  margin-left: -20px;
}
.quotation{
  display: inline;
}
.nav{
  text-align: right;
  padding-left: $base-padding*6;
  padding-right: $base-padding*6;
  @include breakpoint(medium down){
    text-align: center;
    padding: 0;
  }
  &__link{
    padding: 0 $base-padding*3;
    font-family: 'Acumin Pro Light', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 23px;
    &:last-child{
      padding-right: 0;
    }
    &:first-child{
      padding-left: 0;
    }
    @include breakpoint(small only){
      padding: 0 $base-padding;
      font-size: 18px;
    }
  }
}
.nav-buttons{
  text-align: right;
  padding-top: $base-padding;
}
.sub-heading{
  font-size: 1rem;
  text-align: center;
}
.main-content{
  padding-left: $base-padding*6;
  padding-right: $base-padding*6;
  padding-bottom: $base-padding*6;
  @include breakpoint(small only) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include breakpoint(medium only) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.content-container{
  background: $white;
  padding: $base-padding;
  margin-bottom: $base-margin*3;
}

.page-footer{
  padding-bottom: 80px;
  @include breakpoint(small only) {
    padding: 20px;
  }
}

.post{
  &__button{
    @extend .button;

    &--right{
      float: right;
    }
  }
  &__wrapper{
    margin-bottom: $base-margin*3;
  }
}
